doctype html
html
  head
    title Spaceship Reactive!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/rx/dist/rx.all.js')
    
  body
    block content
    script(src='/javascripts/spaceship.js')
    